{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {{products.desc|truncatewords:155}}
{% endblock %}
{% block title %}
    {% if category %}
        {{products.name}} - E STORE
    {% endif %}
{% endblock %}
{% block content %}
<div class="row my_prod_row_class">
    <div class="mx-auto">
        <p><a href="{% url 'e_shopee:all_product_category' %}">HOME</a> | <a href="{{product.category.get_url}}">{{product.category}}</a> | <a href="#"> {{product.name}} </a></p>
    </div>
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 text-center">
            <div style="width:18rem">
                <img src="{{product.img.url}}" alt="{{product.name}}">
            </div>
        </div>
        <div>
            <div class="col-3 col-sm-12 col-md-12 col-lg-8">
                <div>
                    <h1 class="my_prod_title"><b>{{product.name}}</b></h1>
                    <p>$ {{ product.price}}</p>
                    <p class="my_title"><b>ABOUT {{product.name}}</b></p>
                    <p>{{product.desc}}</p>
                    <p><b>CATEGORY :</b> {{product.category}}</p>
                    {% if product.stock <= 0 %}
                    <p class="text-center"><b>OUT OF STOCK</b></p>
                    {% else %}
                    <a class="btn btn-success" href="{% url 'cart:add_cart' product.id %}">ADD TO CART</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}